<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @user.companyName %>
</p>

<p>
  <strong>Companylocation:</strong>
  <%= @user.companyLocation %>
</p>

<p>
  <strong>Companypassword:</strong>
  <%= @user.companyPassword %>
</p>

<p>
  <strong>Companyfreqip:</strong>
  <%= @user.companyFreqIP %>
</p>

<p>
  <strong>Companyfreqkey:</strong>
  <%= @user.companyFreqKey %>
</p>

<p>
  <strong>Companyparallaxip:</strong>
  <%= @user.companyParallaxIP %>
</p>

<p>
  <strong>Companyparallaxkey:</strong>
  <%= @user.companyParallaxKey %>
</p>

<p>
  <strong>Jsonkey:</strong>
  <%= @user.jsonKey %>
</p>

<p>
  <strong>Woeid:</strong>
  <%= @user.woeID %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @user.domain %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
